:root {
  font-family: 'Geometria', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%);
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  width: min-content;
  padding: 38px 31px;
  border-radius: 18px;
}

.calculator {
  background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
  padding: 44px 48px;
  border-radius: 18px;
  width: min-content;
  max-width: 554px;
  box-shadow: 3px 10px 18px 1px rgba(34, 60, 80, 0.45);

}

.operation_display {
  color: #fff;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: end;

  font-size: 24px;

  padding: 40px 0 28px;

}

.display {
  color: #fff;
  background-color: inherit;
  border: none;
  width: 100%;
  font-family: 'Geometria', sans-serif;
  line-height: 80px;

  font-weight: 700;
  text-align: end;
  font-size: 56px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25); 

  padding-bottom: 18px;
  margin-bottom: 18px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.75)
  }

}

.buttons { 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, auto); 
  align-items: center;
  justify-items: center;
  margin: 0 10px;
  gap: 16px 50px;

  font-size: 36px;

  .inner_text {
    vertical-align: text-top;
  }
  

  > .button {
    color: #F2F2F2;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: all 0.1s ease;
    }
  }

  .button_result {
    color: rgba(43, 88, 154, 1);
    background-color: rgba(255, 255, 255, 0.75)
  }
}

@media (max-width: 435px) {
  .calculator {
    padding: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запретить скроллинг */
  }

  .display {
    padding: 0 5px;
  }

  .operation_display {
    padding: 50px 5px 0;
  }

  .buttons {
    gap: unset;
    margin: 0;

  }
}



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


